<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weekly Report / Launch Guide</title>
  </head>
  <body class="h-100">
    <div class="h-100 container">
      <div class="row h-100">
        <div class="col-2 g-0">
          <aside class="h-100 w-100 sidebar">sidebar</aside>
        </div>
        <div class="col-10 g-0">
          <div class="container">
            <div class="row">
              <header class="header d-flex">
                <img src="<%=require('../img/logo.png')%>" alt="header-logo" />
              </header>
            </div>
            <div class="row">
              <main class="content">
                  <div class="row">
                    <div class="col d-flex justify-content-center align-items-center">
                      <div class="txt-wrapper">
                        <h3>Invite Your Team</h3>
                        <p class="text">Click on the link below and invite your team members who directly report to you.</p>
                        <button type="button" class="btn btn-main">Invite Your Team</button>
                      </div>
                    </div>
                    <div class="col text-center">
                      <img src="<%=require('../img/1.png')%>" alt="" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center">
                      <img src="<%=require('../img/2.png')%>" alt="" />
                    </div>
                    <div class="col d-flex justify-content-center align-items-center">
                      <div class="txt-wrapper">
                        <h3>Encourage Your Team to Accept Your Invitation</h3>
                        <p class="text">When they receive your invitation, team members will be prompted to complete their profiles. If a team member hasn't created their profile within 24 hours, follow up with them!</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col d-flex justify-content-center align-items-center">
                      <div class="txt-wrapper">
                        <h3>Remind Your team</h3>
                        <p class="text">Every Friday, we'll automatically send your team members an email reminding them to fill out their Weekly Report. But we also encourage you to consistently request their Weekly Reports so they realize the importance of this new habit.</p>
                      </div>
                    </div>
                    <div class="col text-center">
                      <img src="<%=require('../img/3.png')%>" alt="" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center">
                      <img src="<%=require('../img/4.png')%>" alt="" />
                    </div>
                    <div class="col d-flex justify-content-center align-items-center">
                      <div class="txt-wrapper">
                        <h3>Read Their Reports</h3>
                        <p class="text">Set aside some time on Monday to read all the reports. Then reach out to any team members who need to be acknowledged for a success or supported during a difficult time. (And yes, we'll send you a reminder to read your reports each week too.)</p>
                      </div>
                    </div>
                  </div>
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-help">Help</button>
  </body>
</html>
