<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>My Company</title>
    </head>
    <body>
        
        <!-- Layout container -->
        <div class="d-flex flex-row flex-fill">
            
            <!-- Sidebar wrap (.sidebar) -->
            <div class="sidebar m-0 p-0">

                <!-- Sidebar -->
                <%= require("html-loader!../components/sidenavmenu.html").default %>

            </div>
            
            <!-- Header+content wrap -->
            <div class="d-flex flex-column flex-fill m-0 p-0">
                
                <!-- Header wrap (.header) -->
                <div class="header m-0 p-0 d-flex flex-column justify-content-center">
                    
                    <!-- Header -->
                    <p class="display-3 text-center fw-bold text-white">
                        ANKO Technologies Corp
                    </p>
                    <p class="text-center text-white">
                        Joined January 2020
                    </p>

                </div>

                <!-- Content wrap (.mybody) -->
                <div class="mybody m-0 px-5 pt-4">
                    
                    <!-- Content -->

                    <h2>
                        Edit ANKO Technologies Corp's information.
                    </h2>
                    <p class="mb-5">
                        You may edit the company name, as well as the deactivate/activate the Weekly Report Tool functionality. If you need to edit a team member's information, you can access that information by seeing the list of team members.
                    </p>

                    <p class="mb-0 fw-bold">
                        RENAME ANKO TECHNOLOGIES CORP
                    </p>
                    <hr class="mt-1 mb-3">
                    <form class="mb-5">
                        <div class="mb-3">
                            <label class="form-label fw-bold">
                                Change company name
                            </label>
                            <input type="text" class="form-control w-50">
                        </div>
                        <button type="submit" class="btn btn-primary fw-bold">
                            Save name change
                        </button>
                    </form>

                    <p class="mb-0 fw-bold">
                        SEE A LIST OF ANKO TECHNOLOGIES CORP'S TEAM MEMBERS
                    </p>
                    <hr class="mt-1 mb-3">
                    <div class="mb-5">
                        <p>
                            If you need to edit a particular tema member, you can see a complete list of team members and visit their profile to make edits. <b>You will not be able to see a team member's weekly report.</b>
                        </p>
                        <button type="button" class="btn btn-primary fw-bold">
                            See all team members
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>
