.sidebar {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    overflow-y: auto;
}
.header {
    height: 250px;
    min-height: 250px;
    max-height: 250px;
    background-image: url("../img/congruent_outline.png");
}
.mybody {
    
}

// should be removed - use bootstrap variables
.sidenav {
    background-color: #343A3D;
}
.sidenav > nav > a {
    font-family: "Franklin Gothic Medium";
    background-color: #343A3D;
    border-color: #343A3D;
    color: white;
}
.sidenav > nav > a:hover {
    background-color: #202426;
    border-color: #202426;
    color: white;
}
.sidenav > nav > a:focus {
    background-color: #273133;
    border-color: #202426;
    color: white;
}
.sidenav > nav > a.active {
    background-color: #202426;
    border-color: #202426;
    color: white;
}
.sidenav > nav > a.yellow {
    color: #F6D445;
}
