<div class="sidenav d-flex justify-content-between mb-auto p-2">
    <nav class="nav flex-column">
        <a class="text-start btn btn-dark btn-lg fw-bold fs-5 nav-link active mx-3 mt-2 px-4 py-3" href="#">Launch Guide</a>
        <a class="text-start btn btn-dark btn-lg fs-5 nav-link mx-3 mt-2 px-4 py-3" href="#">Invite Your Team</a>
        <a class="text-start btn btn-dark btn-lg fs-5 nav-link mx-3 mt-2 px-4 py-3" href="#">Team Reports</a>
        <a class="text-start btn btn-dark btn-lg fs-5 nav-link mx-3 mt-2 px-4 py-3" href="#">My Reports</a>
        <a class="text-start btn btn-dark btn-lg fs-5 nav-link mx-3 mt-2 mb-5 px-4 py-3" href="#">Fill out a Report</a>
    </nav>
    <nav class="nav flex-column">
        <a class="text-start btn btn-dark btn-lg fs-5 nav-link mx-3 mb-5 mt-5 px-4 py-3" href="#">Back to Elite</a>
        <a class="text-start btn btn-dark btn-lg fs-5 nav-link mx-3 mb-5 px-4 py-3" href="#">My Company</a>
        <a class="text-start btn btn-dark btn-lg fs-5 nav-link mx-3 mb-2 px-4 py-3" href="#">My Profile</a>
        <a class="text-start btn btn-dark btn-lg fs-5 nav-link mx-3 mb-2 px-4 py-3" href="#">Sign Out</a>
    </nav>
</div>
