<aside class="d-flex flex-column justify-content-between mb-auto p-2 bg-dark">
    <nav class="nav flex-column mx-3 gap-1 mt-2">
        <img class="img-fluid mb-4 px-4" src="../img/wrlogo.png" alt="Weekly Report"></img>
        <a class="nav-link btn btn-dark px-4 py-3 fs-5 text-start text-white fw-bold active" href="guide.html">Launch Guide</a>
        <a class="nav-link btn btn-dark px-4 py-3 fs-5 text-start text-white" href="invite.html">Invite Your Team</a>
        <a class="nav-link btn btn-dark px-4 py-3 fs-5 text-start text-white" href="teamreports.html">Team Reports</a>
        <a class="nav-link btn btn-dark px-4 py-3 fs-5 text-start text-white" href="myreports.html">My Reports</a>
        <a class="nav-link btn btn-dark px-4 py-3 fs-5 text-start" href="report.html">Fill out a Report</a>
    </nav>
    <nav class="nav flex-column mx-3 gap-1 mb-2 mt-5">
        <a class="nav-link btn btn-dark px-4 py-3 fs-5 text-start text-white mb-4" href="#">Back to Elite</a>
        <a class="nav-link btn btn-dark px-4 py-3 fs-5 text-start text-white mb-4" href="mycompany.html">My Company</a>
        <a class="nav-link btn btn-dark px-4 py-3 fs-5 text-start text-white" href="#"><i class="bi bi-gear-fill"></i> My Profile</a>
        <a class="nav-link btn btn-dark px-4 py-3 fs-5 text-start text-white" href="#"><i class="bi bi-arrow-left-square-fill"></i> Sign Out</a>
    </nav>
</aside>
