<nav class="sidenav d-flex flex-column justify-content-between mb-auto p-2">
    <nav class="nav flex-column">
        <img class="img-fluid mt-2 mb-4 px-4" src="../img/wrlogo.png" alt="Weekly Report"></img>
        <a class="nav-link text-start btn fs-5 mx-3 mt-2 px-4 py-3 active fw-bold" href="guide.html">Launch Guide</a>
        <a class="nav-link text-start btn fs-5 mx-3 mt-2 px-4 py-3" href="invite.html">Invite Your Team</a>
        <a class="nav-link text-start btn fs-5 mx-3 mt-2 px-4 py-3" href="teamreports.html">Team Reports</a>
        <a class="nav-link text-start btn fs-5 mx-3 mt-2 px-4 py-3" href="myreports.html">My Reports</a>
        <a class="nav-link text-start btn fs-5 mx-3 mt-2 px-4 py-3 yellow" href="report.html">Fill out a Report</a>
    </nav>
    <nav class="nav flex-column">
        <a class="nav-link text-start btn fs-5 mx-3 mb-5 px-4 py-3 mt-5" href="#">Back to Elite</a>
        <a class="nav-link text-start btn fs-5 mx-3 mb-5 px-4 py-3" href="mycompany.html">My Company</a>
        <a class="nav-link text-start btn fs-5 mx-3 mb-2 px-4 py-3" href="#"><i class="bi bi-gear-fill"></i> My Profile</a>
        <a class="nav-link text-start btn fs-5 mx-3 mb-2 px-4 py-3" href="#"><i class="bi bi-arrow-left-square-fill"></i> Sign Out</a>
    </nav>
</nav>
